.summary {
  max-width: 51.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  margin: 0 20px;
  color: white;
  background-color: #d02c30;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.h2 {
  font-size: 2.4rem;
  text-align: center;
}

.p {
  text-align: center;
  font-size: 1.2rem;
}
.p:first-of-type {
  margin: unset;
}
