.button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.854);
  cursor: pointer;
}

.text {
  margin: 0 15px;
  font-size: 1rem;
}
.bagde {
  font-size: 1rem;
  background-color: #d02c30;
  color: white;
  border-radius: 20px;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bump {
  animation: bump 0.3s ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
